@charset "utf-8";

html,
body {
    width: 100%;
    overflow-x: hidden;
}

@media all and (max-width:1440px) {

    #header .pc nav>ul>li,
    #header .gnb ul li {
        float: left;
        padding: 0 10px;
    }

    .mobile {
        display: none;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1270px) {
    #header {
        height: 800px;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
        height: 80px;
    }

    .mobile>ul>li:nth-child(2) {
        height: 80px;
        padding-top: 18px;
    }

    .mobile>ul>li:first-child a {
        line-height: 80px;
        padding-left: 20px;
        font-size: 1.2em;
    }

    .Vtext1,
    .Vtext2 {
        width: 600px;
        height: 200px;
        position: absolute;
        left: 30px;
        top: 650px;
    }

    #videos a.Vts2 {
        font-size: 2em;
        padding-top: 15px;
    }

    #videos a.Vts3,
    #videos a.Vts4 {
        width: 90px;
        height: 30px;
        line-height: 30px;
        padding: 7px;
        margin-top: 20px;
        background-color: #ffffff;
        font-size: 0.9em;
    }

    .section2_pic>li>a>p.sec2_text1 {
        font-size: 1.6em;
    }

    .section2_pic>li>a>p:last-child {
        font-size: 1.3em;
    }

    #pc_footer {
        height: 800px;
    }

    .Ftext {
        width: 85%;
        height: 450px;
    }

    .Ftext ul li a {
        font-size: 0.8em;
    }

    #pc_footer .sns ul li a .fa-brands,
    #pc_footer .sns ul li a .fa-solid {
        font-size: 1em;
    }

    #pc_footer .copy ul li a {
        font-size: 0.9em;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1250px) {
    .Ftext {
        width: 95%;
    }

    #pc_footer .sns,
    #pc_footer .copy {
        width: 95%;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1190px) {
    .Ftext {
        width: 95%;
    }

    #pc_footer .sns,
    #pc_footer .copy {
        width: 95%;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1060px) {
    .Ftext {
        width: 95%;
    }

    #section {
        width: 100%;
    }

    #pc_footer .sns {
        width: 95%;
    }

    #pc_footer .copy {
        width: 95%;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1020px) {

    .Vtext1,
    .Vtext2 {
        width: 400px;
        height: 150px;
        position: absolute;
        left: 30px;
        top: 670px;
    }

    #videos a.Vts1 {
        font-size: 0.9em;
    }

    #videos a.Vts2 {
        font-size: 1.8em;
    }

    #videos a.Vts3,
    #videos a.Vts4 {
        width: 80px;
        height: 20px;
        line-height: 20px;
        padding: 7px;
        margin-top: 20px;
        background-color: #ffffff;
        font-size: 0.8em;
    }

    #m_footer {
        display: none;
    }
}

@media all and (max-width:1005px) {
    #m_footer {
        display: none;
    }

    .Ftext {
        width: 95%;
        height: 505px;
    }

    #pc_footer .copy ul li {
        padding-right: 30px;
    }

}

@media all and (max-width:960px) {

    #mainVideo1,
    #mainVideo2 {
        height: 500px;
    }

    .section2_pic>li>a>p.sec2_text1 {
        font-size: 1.4em;
    }

    .section2_pic>li>a>p:last-child {
        font-size: 1.2em;
    }

    #pc_footer {
        display: none;
    }

    #m_footer {
        display: block;
        height: auto;
    }

    .Ftext {
        width: 97%;
        height: 300px;
        border-bottom: 0;
    }

    .Ftext1 {
        height: 30px;
        line-height: 30px;
        font-size: 1.1em;
        position: relative;
    }

    .Ftext1:after {
        content: '';
        width: 100%;
        border-bottom: 1px solid #303030;
        position: absolute;
        bottom: 0;
    }

    .Ftext ul {
        position: relative;
        top: 0;
        clear: both;
        width: 95%;
        height: auto;
        padding-left: 50px;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .Ftext ul li.Ftext1 {
        padding-bottom: 5px;
    }

    .Ftext ul li:nth-child(2) {
        padding-top: 10px;
    }

    .Ftext ul li:nth-child(n+2) {
        display: none;
    }

    .Ftext ul li a {
        font-size: 1em;
        width: 200px;
    }

    #m_footer .sns {
        width: 95%;
        height: 140px;
        border-bottom: 0;
    }

    #m_footer .sns ul li {
        float: left;
        width: 20%;
        padding-left: 40px;
        padding-top: 60px;
    }

    #m_footer .copy {
        width: 95%;
        height: 150px;
        clear: both;
        position: relative;
    }

    #m_footer .copy::before {
        content: '';
        position: absolute;
        top: 10px;
        border-top: 1px solid #303030;
        width: 100%;
    }

    #m_footer .copy ul li {
        padding: 40px 20px 0 40px;
    }
}

@media all and (max-width:875px) {
    .section2_pic>li>a>p.sec2_text1 {
        text-align: center;
    }

    #pc_footer {
        display: none;
    }
}

@media all and (max-width:850px) {
    #section {
        width: 100%;
    }

    .section2_pic>li>a>p.sec2_text1 {
        font-size: 1.3em;
    }

    #m_footer .copy {
        height: 200px;
    }

    #pc_footer {
        display: none;
    }
}

@media all and (max-width:830px) {
    #pc_footer .sns ul li a .fa-solid,
    #m_footer .sns ul li a .fa-solid {
        padding-left: 25px;
    }
}

@media all and (max-width:785px) {
    .section2_pic>li>a>p.sec2_text1 {
        position: absolute;
        bottom: 20%;
        left: 50%;
        text-align: center;
    }

    #pc_footer {
        display: none;
    }
}

@media all and (max-width:780px) {
    .Ftext {
        height: 350px;
    }

    #m_footer .sns {
        height: 200px;
    }

    #m_footer .sns ul li {
        clear: both;
        width: 88%;
        padding-left: 50px;
        padding-top: 30px;
    }

    #m_footer .sns ul li a .fa-solid {
        float: right;
    }

    #pc_footer {
        display: none;
    }
}

@media all and (max-width:700px) {
    #section {
        width: 100%;
    }

    #section1 {
        margin: 100px 0;
    }

    .content {
        flex-direction: column-reverse;
    }

    .Ctext {
        width: 100%;
        height: 40%;
    }

    .Ctext .text {
        justify-content: space-between;
    }

    .Ctext .text a:first-child {
        font-size: 1.5em;
    }

    .Ctext .text a:last-child {
        font-size: 1em;
    }

    .Ctext .text a:last-child i {
        font-size: 1.3em;
    }

    .Cpic {
        width: 100%;
        height: 60%;
    }

    #pc_footer {
        display: none;
    }
}

@media all and (max-width:600px) {
    .mobile {
        height: 60px;
    }

    .mobile>ul>li:nth-child(2) {
        height: 60px;
        padding-top: 8px;
    }

    .mobile>ul>li:first-child a {
        line-height: 60px;
    }

    .Mmenu ul {
        margin-top: 80px;
    }

    .Mmenu ul li {
        width: 90%;
        height: 70px;
    }

    .section2_pic>li:nth-child(n+5) {
        clear: both;
        width: 100%;
    }

    #pc_footer {
        display: none;
    }

    @media all and (max-width:550px) {
        .section2_pic>li:nth-child(n+3) {
            clear: both;
            width: 100%;
        }

        .Ftext ul {
            padding-left: 30px;
        }

        #m_footer .sns ul li {
            padding-left: 30px;
        }

        #m_footer .copy ul li {
            padding-left: 30px;
        }

        #pc_footer {
            display: none;
        }
    }

    @media all and (max-width:505px) {

        .Cpic,
        .Ctext {
            height: 50%;
        }

        #m_footer .copy ul li {
            padding: 30px 10px 0 20px;
        }
    }

    @media all and (max-width:488px) {

        .Cpic,
        .Ctext {
            height: 50%;
        }

        .Cpic img,
        .Ctext .text {
            width: 85%;
        }

        #section1 #contents_wrap .Cbtn p.prev {
            top: 0;
            left: 80%;
        }

        #section1 #contents_wrap .Cbtn p.next {
            top: 0;
            left: 88%;
        }

        .section2_pic>li {
            clear: both;
            width: 100%;
        }

        #m_footer .copy {
            height: 250PX;
        }

        #m_footer .copy ul li {
            padding: 30px 10px 0 20px;
        }

        #pc_footer {
            display: none;
        }
    }

    @media all and (max-width:420px) {
        #pc_footer {
            display: none;
        }
    }

    @media all and (max-width:377px) {

        .Vtext1,
        .Vtext2 {
            width: 350px;
            height: 150px;
            position: absolute;
            left: 15px;
            top: 670px;
        }

        #videos a.Vts1 {
            font-size: 0.9em;
        }

        #videos a.Vts2 {
            font-size: 1.8em;
        }

        #videos a.Vts3,
        #videos a.Vts4 {
            width: 80px;
            height: 20px;
            line-height: 20px;
            padding: 7px;
            margin-top: 20px;
            background-color: #ffffff;
            font-size: 0.8em;
        }

        #m_footer .copy {
            height: 250px;
        }

        #m_footer .copy ul li {
            padding: 30px 30px 0 20px;
        }

        #pc_footer {
            display: none;
        }
    }